extends layouts/main.pug
block content
    h1 간단한 CRUD 만들기
    h2 구현한 것
    li 회원가입/로그인/로그아웃

    h2 구현해야 할 기능들
    li 사용자 개인 페이지 : 프로필 변경, 비밀번호 재설정, 올린 글들 보기 등
    li 파일 업로드(이미지)
    li 소셜 로그인(깃허브)
    li 비밀번호 재설정
    li 글 작성 및 댓글 기능 구현, 그에 따른 DB 구조
    li 이메일 인증 기능
    li CSS

    h2 배포
    li 외부 저장소에 파일들 저장
    li 배포(깃허브 페이지 혹은 heroku)

    h3 기타
    li 테스트 코드

    
