extends layouts/main.pug
block content
    h1 간단한 CRUD NOTE
    h2 구현한 것
    li 회원가입/로그인/로그아웃
    
    h3 2020/10/31
    li Feed Create/Read/Update/Delete
    li Profile Page : Edit Profile, Posted Feeds
    li multer image : single(static files) : express static 설정해줌
    li mixin FeedBlock 구현. home과 사용자 프로필에서 사용됨

    h2 구현해야 할 기능들
    li 비밀번호 재설정
    li 소셜 로그인(깃허브)
    li 댓글, 공감, 스크랩 기능
    li 이메일 인증 기능
    li 태그
    li 위치 입력
    li 게시판 개념
    
    li CSS

    h2 배포
    li 외부 저장소에 파일들 저장
    li 배포(깃허브 페이지 혹은 heroku)

    h3 기타
    li 테스트 코드
    
